.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 63%;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    top: 23% !important;
    right: 18% !important;
    left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    top: 23% !important;
    left: 18% !important;
    right: auto;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px;
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 50%;
 color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;


}
